*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("imgs/people_in_office.jpg");
    background-repeat:no-repeat;
   box-shadow: inset 0 0 0 50vmin rgba(35, 29, 103, 0.473);
    margin: 0;
    padding: 3rem 0rem;
}

h1, p{
    text-align: center;
    margin: 0;
    color: white;
}

#title{
    font-weight: 400;
}

#description{
    font-size: 1.1rem;
  font-weight: 200;
  font-style: italic;
}

#survey-form{
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 700px;
    width: 60vw;
    min-width: 400px;
    background-color: rgba(66, 21, 82, 0.4);
}



input{
    display: block;
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0rem;
}

label{
    
    color: white;
    font-size: 1.1rem;
    
}