*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("imgs/people_in_office.jpg");
    background-repeat:no-repeat;
    margin: 0;
    padding: 3rem 0rem;
    position: relative;
}

body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(164, 164, 187, 0.5);
    z-index:-1;
}


h1, p{
    text-align: center;
    margin: 0;
    color: white;
}

#title{
    font-weight: 400;
}

#description{
    font-size: 1.1rem;
  font-weight: 200;
  font-style: italic;
}

#survey-form{
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 700px;
    width: 60vw;
    min-width: 400px;
    background-color: rgba(3, 3, 42, 0.723);
}



input,select{
    display: block;
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    font-family: "Poppins", sans-serif;
}


label{
    
    color: white;
    font-size: 1.1rem;
    
}

input[type="radio"],input[type="checkbox"]{
    width: auto;
    vertical-align: middle;
    display: inline;
    transform: scale(1.2); 
}

.text-callout{
    text-align: left;
}

textarea{
    width: 100%;
}
